[submodule "chemacs2/.emacs.d"]
	path = chemacs2/.emacs.d
	url = https://github.com/plexus/chemacs2
[submodule "doomemacs/.doom.d"]
	path = doomemacs/.doom.d
	url = git@github.com:eccnil/doomemacs.git
